<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60675749062-u8bu1ap8tpljkhaa29fvc8invrlco0aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60675749062-u8bu1ap8tpljkhaa29fvc8invrlco0aa</string>
	<key>API_KEY</key>
	<string>AIzaSyCG4WwalnFG4VCANapK39CnuDyrt6rXYSs</string>
	<key>GCM_SENDER_ID</key>
	<string>60675749062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-1384f</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-1384f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60675749062:ios:720731b1c116bf0b7ed3c7</string>
</dict>
</plist>